*{
    margin: 0;
    padding: 0;
}



.container {

    width: 100px;
    height: 100px;
    border:  2px solid white;
    
    top: 700px;
    left: 700px;
    position: absolute;
    border-radius: 50%;
}



.circle{
    position: relative;
    top: 35px;
    left: 35px;
    width:  30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: aquamarine;
    -webkit-animation: circle 4s linear infinite; 
       -moz-animation: circle 4s linear infinite; 
         -o-animation: circle 4s linear infinite; 
            animation: circle 4s linear infinite; 
}
/* 
@-webkit-keyframes circle {
    from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-moz-keyframes circle {
    from { -moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-o-keyframes circle {
    from { -o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
} */

@keyframes circle {
    from { transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}


.container2 {
    width: 100px;
    height: 100px;
    
    top: 400px;
    left: 400px;
    position: absolute;
   
   animation: cont2 10s linear infinite normal;
   
}
div {
    position: inherit;
}
img {
    width: 100px;
    height: 100px;
}

@keyframes cont2 {
    0% {transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.circle2 {
    position: inherit;
    top: 35px;
    left: 35px;
    width:  30px;
    height: 30px;
     
    border-radius: 50%;
    
    -webkit-animation: circle1 4s linear infinite reverse; 
       -moz-animation: circle1 4s linear infinite reverse; 
         -o-animation: circle1 4s linear infinite reverse; 
            animation: circle1 4s linear infinite reverse; 
            
}

@keyframes circle1 {
    from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}